{
  "repo": "",
  "linkedFiles": [
    "wp-config.php",
    ".htaccess"
  ],
  "linkedDirs": [
    "wp-content/uploads"
  ],
  "local": {
    "url": "",
    "path": "",
    "dbName": "",
    "dbUser": "",
    "dbPass": ""
  }
}
