{
  "repo": "",
  "linkedFiles": [
    "wp-config.php",
    ".htaccess"
  ],
  "linkedDirs": [
    "wp-content/uploads"
  ],
  "local": {
    "url": "",
    "dbName": "",
    "dbUser": "",
    "dbPass": ""
  },
  "production": {
    "host": "",
    "username": "",
    "url": "",
    "branch": "",
    "privatePath": "",
    "publicPath": "",
    "dbName": "",
    "dbUser": "",
    "dbPass": ""
  }
}
